@import '../../variables.module';

// Body container (everything outside left nav)
.body-container {
  width: calc(100% - 240px);
  height: 100%;
  margin-left: 240px;
  position: fixed;
}

// App container with flex columns
.app-container {
  width: calc(100% - 240px - 30px);
  height: calc(100vh - 30px);
  margin: 15px;
  position: fixed;
  overflow-y: scroll;
  display: flex;
  flex-flow: column;
}

// Contents of app container
.app-container .vertical-menu-top {
  min-height: 62px;
  flex: 0 1 auto;
}

.app-container .vertical-menu-bottom {
  min-height: 62px;
  flex: 0 1 auto;
}

.app-container .main-content {
  flex: 1 1 auto;
}

.app-container .main-content main {
  height: 100%;
}

.app-container .pendo-sales-engineering-footer {
  flex: 0 1 20px;
  width: 100%;
  text-align: center;
  color: $text-color;
}

// Footer
// .pendo-sales-engineering-footer {
//   position: absolute;
//   bottom: 0;
//   width: 100%;
//   margin-bottom: 5px;
//   text-align: center;
//   color: $text-color;
// }

.pendo-sales-engineering-footer span {
  cursor: pointer;
}

// Table heights
.whole-page-table {
  height: 80%;
}

.card-table {
  height: calc(100% - 50px);
}
