.widget-container {
  background-color: white;
  margin: 15px;
  border: #ccc thin solid;
}

.dashboard-container {
  width: 100%;
  display: flex;
  height: 100%;
}

.dashboard-left {
  width: 60%;
}

.dashboard-left--bottom {
  height: calc(45% - 30px);
  display: flex;
  justify-content: space-between;
}

.pipeline {
  width: 45%;
  height: 100%;
}

.quota {
  width: 45%;
  height: 100%;
}

#metrics {
  height: calc(45% - 30px);
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
}

.dashboard-container .ant-card-head-title {
  padding: 0.8em 0;
}

.dashboard-container .ant-card-head {
  min-height: 3em;
  height: 3em;
}

.dashboard-container .ant-card-head-wrapper {
  height: 100%;
}

@media only screen and (max-width: 767px) {
  .dashboard-container {
    flex-direction: column;
  }
}

@media only screen and (max-width: 767px) {
  .dashboard-left {
    width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  .dashboard-container #list-view {
    width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  .vertical-menu .ant-input-search {
    width: 100%;
  }
}

.vertical-menu .ant-input-search.ant-input-search-enter-button > .ant-input {
  padding-right: 1em;
}

#list-view {
  width: 40%;
  height: calc(90% - 30px);
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
}

#forecast {
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
}

#quota {
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
}

#list-view .ant-card-body {
  padding: 16px;
  height: calc(100% - 3em);
}

// .ant-table-wrapper {
//   height: 100%;
// }

.ant-spin-nested-loading {
  height: 100%;
}

.ant-spin-container {
  height: 100%;
}

.ant-spin-container .ant-table {
  height: 100%;
}

.ant-spin-container .ant-table-content {
  height: 100%;
}

.ant-spin-container .ant-table-scroll {
  height: 100%;
}

#metrics .ant-card-body,
#forecast .ant-card-body,
#quota .ant-card-body {
  padding: 8px;
}

.VictoryContainer {
  width: 60% !important;
  height: 50% !important;
}

.widget-container h2 {
  margin-left: 30px;
}

.list-container {
  width: 100%;
  height: 100%;
}

.header-container {
  width: 90%;
  height: 8%;
  margin: 0 auto;
  background-color: grey;
}

.list-right {
  float: right;
  width: 50%;
  height: 100%;
  text-align: center;
  background-color: #bbb;
}

.list-left {
  width: 50%;
  float: left;
  text-align: center;
}

.list-right p {
  margin: 0px;
  margin-top: 10%;
}

.list-left p {
  margin: 0px;
  margin-top: 10%;
}

.list-table {
  height: 80%;
  width: 90%;
  margin: 0 auto;
}

.list-item {
  text-align: center;
  width: 100%;
  padding: 20px 0px;
  display: flex;
  justify-content: space-around;
}

.white {
  background-color: white;
}

.blue {
  background-color: #e4f8fe;
}

.recharts-text {
  fill: rgb(120, 120, 120);
  font-weight: 300;
  font-size: 12px;
}

#metrics .ant-card-body {
  height: 85%;
}

#quota .ant-card-body {
  height: 85%;
}

#forecast .ant-card-body {
  height: 85%;
}
