@import 'variables.module';

// Site wide styling (font)
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: $font-family, 'Monospaced Number', 'Chinese Quote', -apple-system,
    BlinkMacSystemFont, 'Segoe UI', Roboto, 'PingFang SC', 'Hiragino Sans GB',
    'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}

// Hide scroll bar
::-webkit-scrollbar {
  background: transparent;
}

// Custom styles Guide: https://app.pendo.io/guides/ZHiC9GvZHQlbSuTPjho8E_et1yA
#exit-intent {
  height: 2px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

/********************* ANT Design Style Overwrites *********************/
// Normal text
.ant-card-head,
.ant-card-head-title,
.ant-card-body,
.ant-tabs-tab,
.ant-table-column-title,
.ant-table-row,
.ant-pagination-item > a,
.ant-pagination-item-ellipsis,
.ant-pagination-prev a,
.ant-pagination-next a,
.ant-input-search > span > input,
.ant-modal-title,
.ant-select-dropdown-menu-item,
.ant-select-selection-selected-value,
.ant-timeline-item-content,
.ant-input,
.ant-btn,
.name-and-new h1 {
  color: $text-color !important;
}

// Light text
.ant-btn-primary,
.ant-btn-primary span,
.ant-btn-primary i svg path,
.ant-menu-item > a > span {
  color: $text-color-light !important;
}

// Selected color text (+table pagination)
.ant-pagination-item-active > a,
.ant-pagination-prev:not(.ant-pagination-disabled) a:hover,
.ant-pagination-next:not(.ant-pagination-disabled) a:hover,
.anticon-double-right svg path,
.anticon-double-left svg path,
.ant-tabs-tab-active,
.ant-timeline-item-head i svg path {
  color: $text-color-selected !important;
}

.ant-pagination-item-active {
  border-color: $text-color-selected !important;
}

.ant-input:hover,
.ant-btn:hover {
  border-color: $text-color-selected !important;
}

// Link color text
.ant-table-row .ant-table-row-cell-break-word a,
.ant-tabs-tab:not(.ant-tabs-tab-active):hover {
  color: $text-color-link !important;
}

// Accessory gray items
.ant-timeline-item-tail {
  border-left: 2px solid $accessory-gray !important;
}

// Table row hover
.ant-table .ant-table-row:hover > td {
  background-color: $table-row-hover-color !important;
}

// Nav menu border removal
.ant-menu-inline,
.ant-menu-vertical,
.ant-menu-vertical-left {
  border-right: none !important;
}

// Nav menu icons
.ant-menu-item > a > i {
  color: $secondary-color-light !important;
}

// Nav menu selected item
.ant-menu-item-selected {
  background-color: $primary-color !important;
}

// Primary button styles
.ant-btn-primary {
  background-color: $primary-color !important;
  border-color: $primary-color-dark !important;
  border-radius: 3px !important;
}

// Footer heart icon
.anticon-heart > svg > path {
  color: $primary-color-dark !important;
}

// Details timeline margin
.ant-timeline {
  margin-top: 30px !important;
}

// Universal card margin
.ant-card {
  margin-top: 0px !important;
  margin: 15px !important;
}
