/* Colors */
$text-color: rgba(0, 18, 25, 1);
// $text-color: #ff0000;
$text-color-light: rgba(255, 255, 255, 1);
// $text-color-light: #ffc0cb;
$text-color-link: rgba(51, 197, 228, 1);
// $text-color-link: #ffa500;
$text-color-selected: rgba(23, 150, 175, 1);
// $text-color-selected: #800080;

$accessory-gray: rgba(223, 224, 235, 1);
// $accessory-gray: #ff00ff;

$primary-color: rgba(18, 130, 151, 1);
$primary-color-dark: rgba(0, 85, 105, 1);
$primary-color-light: rgba(148, 210, 189, 1);

$secondary-color: rgba(238, 155, 0, 1);
$secondary-color-dark: rgba(202, 103, 2, 1);
$secondary-color-light: rgba(233, 216, 166, 1);

$tertiary-color: rgba(174, 32, 18, 1);
$tertiary-color-dark: rgba(155, 34, 38, 1);

$quaternary-color: rgba(67, 160, 71, 1);
$quaternary-color-dark: rgba(27, 94, 32, 1);

$quinary-color: rgba(142, 36, 170, 1);
$quinary-color-dark: rgba(74, 20, 140, 1);

$table-row-hover-color: rgba(250, 250, 250, 1);

/* Fonts */
$font-family: 'Lato';

/* Module Export */
:export {
  text: $text-color;
  textLight: $text-color-light;

  primary: $primary-color;
  primaryDark: $primary-color-dark;
  primaryLight: $primary-color-light;

  secondary: $secondary-color;
  secondaryDark: $secondary-color-dark;
  secondaryLight: $secondary-color-light;

  tertiary: $tertiary-color;
  tertiaryDark: $tertiary-color-dark;

  quaternary: $quaternary-color;
  quaternaryDark: $quaternary-color-dark;

  quinary: $quinary-color;
  quinaryDark: $quinary-color-dark;
}
