@import '../../variables.module';

#phoneContainer .ant-card-head h1 {
  float: left;
}

#toggle-ui {
  float: right;
}

#demoLaunch > label {
  color: $text-color;
}

#mobileDemo {
  display: flex;
  justify-content: center;
}

#visitorField {
  width: 250px;
  margin-left: 10px;
}

.mobile-btn {
  margin-left: 10px;
}

#phoneContainer {
  height: calc(100% - 30px);
}

#mobileDemo {
  height: 100%;
}
